
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in ViewBag.listCategories)
                {
                    <tr>
                        <td>@categoria.Id</td>
                        <td>@categoria.Nombre</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


