﻿<div>
    @using (Html.BeginForm("Busqueda", "UserAdmin", FormMethod.Post, new { @class = "form-inline " }))
    {

        @Html.TextBox("buscar", null, new { @class = "form-control mr-sm-4", @placeholder = "Algo mas especifico" })
        <button class="btn btn-outline-primary " type="submit">Buscar</button>
    }
</div>