
@using WebApp_Prog3.Models;
@{
    var elemento = new CategoriaClient();
    var elemento2 = elemento.GetAll();
    elemento2.OrderByDescending(x => x.Nombre);
    ViewBag.Categoria = elemento2;
}
<select id="Categoria" onchange="CategoriaChange();" class="form-control">
    <option value="0" selected disabled>-- Categoria --</option>
    @foreach (var m in ViewBag.Categoria)
    {
        <option value="@m.Id">@m.Nombre</option>
    }
</select>

