@model List<WebApp_Prog3.Models.Post>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var grid = new WebGrid(canPage: true, rowsPerPage: 20);
    //grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: true);
}
<div class="row">
    @using (Html.BeginForm("Busqueda", "Home", FormMethod.Post))
    {
        <div class="form-inline">
            @Html.TextBox("buscar", null, new { @class = "form-control mr-sm-2", @placeholder = "Categorias" })
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </div>
        @*<input class="form-control mr-sm-2" type="search" placeholder="Categoria" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>*@
    }

</div>
<br />
<div class="row">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Ubicacion</th>
                <th scope="col">Posicion</th>
                <th scope="col">Empresa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => post.Categorias)</td>
                    <td>@Html.DisplayFor(model => post.NombrePosicion)</td>
                    <td>@Html.DisplayFor(model => post.Posters)</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>