@{
    ViewBag.Title = "Home Page";
}

@foreach(var post in ViewBag.listPosts)
{
    <div class="card" style="width: 18rem;">
        <img src="@post.Logo" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@post.NombrePosicion</h5>
            <p class="card-text">@post.Descripcion</p>
            <a href="#" class="btn btn-primary">Leer mas</a>
        </div>
    </div>
}
    